{% extends "base.html" %}

{% block content %}
<p>
    Hi, {{ user.username }}! Site is updated frequently as I have the time to build it out.
<ul>
    <li>
        05/12/2024 - Create Posts, View Posts, Edit Posts functionality available.
    </li>
    <li>
        05/09/2024 - Implemented Flask Migrate for database modifications + User Deletions
    </li>
    <li>
        05/06/2024 - Deployed a full cluster monitoring stack (Prometheus, Grafana, Alert Manager)
    </li>
    <li>
        05/05/2024 - Rebuilt infrastructure with Ansible
    </li>
    <li>
        05/03/2024 - Added the ability to update records in the database.
    </li>
    <li>
        05/02/2024 - Added Flask SQL Alchemy integration with Add User
    </li>
</ul>
</p>
{% for post in posts %}
<div>
    <p>{{ post.author.username }} says: <b>{{ post.body }}</b></p>
</div>
{% endfor %}
{% endblock %}